<!doctype html>
<html class="no-js" lang="">
    <head>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <meta name="description" content="All about meta tags and how to add them to your website.">
		  <meta name="author" content="Pragmatic Mates s.r.o. - http://pragmaticmates.com">
		  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		  <title> Index</title>

		<!-- CSS here -->
		  <link rel="shortcut icon" type="image/x-icon" href="#">
		  <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
		  <link rel="stylesheet" href="../static/css/normalize.css">
		  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
		  <link rel="stylesheet" href="../static/css/style.css">
		  
		  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script><!--Animation js here-->
		 <!-- 
		  
		  -->
	</head>
    <body>
	
	<!--===Header Start===-->
	
	<header id="header-section">
			<div class="container-fluid">
					<div class="row">
							<div class="col">
									<nav class="navbar navbar-expand-lg navbar-dark ">
											  <a class="navbar-brand" href="#"><img src="../static/img/logo.png" class="w-100" alt="Logo" /></a>
											  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
												<span class="navbar-toggler-icon"></span>
											  </button>

											  <div class="collapse navbar-collapse" id="navbarSupportedContent">
												<ul class="navbar-nav ml-auto">
												  <li class="nav-item active">
													<a class="nav-link log" href="#">Login <span class="sr-only">(current)</span></a>
												  </li>
												  <li class="nav-item active">
													<a class="nav-link btn btn-outline-secondary ml-3 signup" href="#">Sign Up <span class="sr-only">(current)</span></a>
												  </li>
												  
												  
												</ul>
											 
											  </div>
									</nav>
							</div>
					</div>
					<div class="row pl-5">
							<div class="col-12 col-lg-6">
									<div class="header-left-panel">
											<h1 class="text-light mb-3">
													Learn new recipes and kitchen skill to up your cooking game.
											</h1>
											<p class="text-light">Reserve your online cooking lession. <br /> Browse through all the classes we offer and boo your lession. <br /> Make sure to select your own timezone. our chief lives all over the world. </p>
									</div>
									<a class="nav-link btn btn-outline-secondary" href="#">Register<span class="sr-only">(current)</span></a>
							</div>
							<div class="col-12 col-lg-6">
									<lottie-player src="https://assets9.lottiefiles.com/packages/lf20_pHl01w.json" background="transparent"  speed="1"  style="width: 100%; height: 100%;" loop controls autoplay></lottie-player>
							</div>
					</div>
			</div>			
	</header>

	 <!--===Header End===-->
	 <!--===Work Section Start===-->
	 
	<section id="work">
			<div class="container-fluid">
					<div class="row">
							<div class="col text-center">
									<div class="team-build-wrapper mt-5 text-center mt-5">
										<h2 class="d-inline-block">Corporate Wellness -  </h2> <span>Team Building</span>
									</div>
							</div>
					</div>
					<div class="row mt-5">
							<div class="col d-flex justify-content-center justify-content-lg-end hide">
									<img src="../static/img/how-it-works_1.png" alt="how-it-works_1" />
							</div>
							<div class="col text-center text-lg-left">
									<img src="../static/img/how-it-works_1-chef.png" alt="how-it-works_1-chef" />
							</div>
					</div>
					<div class="row">
							<div class="col text-center">
									
									<h1 class="d-inline-block mt-5 heading-1">How it works</h1>
									
									<p class="text-center mt-4 ">Learn new recipes and kitchen skills to up your cooking game. <br /> Post your creations to chef
									and instagram to earn badges, XP and engage with the community.</p>
							</div>
					</div>
					
					<div class="row my-3 text-center">
							<div class="col ">
									<img src="../static/img/1.1.jpg"  alt="1.1" />
									<p class="text-center">Learn Culinary Skills and Earn Badges</p>
							</div>
							<div class="col">
										<img src="../static/img/1.2.jpg" alt="1.2" />
									<p class="text-center">Add Recipes to Meal Planner and Make Your First Meal</p>
							</div>
							<div class="col">
									<img src="../static/img/1.3.jpg" alt="1.3" />
									<p class="text-center">Upload Food Pics, Rate Photos</p>
							</div>
							<div class="col">
									<img src="../static/img/1.4.jpg" alt="1.4" />
									<p class="text-center">Earn Prizes</p>
							</div>
					</div>
					<div class="row">
							<div class="col text-center">
									<h2>Your Digital Health Plan</h2>
									<div class="reg mt-3">
											<a href="#"><img src="../static/img/how-it-works_1-register.png" class="d-inline-block w-100" alt="how-it-works_1-register" /></a>
									</div> <br />
									
									<span>www.getfiteatwell.com/register</span>
							</div>
					</div>
			</div>
	</section>
	 <!--===Work Section End===-->
	  <!--===Main Context Section Start===-->
	  <section id="main-context">
			<div class="container-fluid">
					<div class="row mt-5">
							<div class="col-12 col-lg-6 d-flex align-items-center text-justify justify-content-center text-uppercase">
								<p>
										We'LL send you your eat well box of ingredients This might be as exciting of the class itself. <br /> A few  Days before your class, A  boxed will arrived filled 
									with premium , pre measured ingredients along  with recipes.
									
								</p>	
							</div>
							<div class="col-12 col-lg-6">
									<lottie-player src="https://assets3.lottiefiles.com/packages/lf20_TmewUx.json" background="transparent"  speed="1"  style="width: 100%; height: 100%;" loop controls autoplay></lottie-player>
							</div>
					</div>
					<div class="row ">
							
							<div class="col-12 col-lg-6">
									<lottie-player src="https://assets2.lottiefiles.com/packages/lf20_n8GX5U.json" background="transparent"  speed="1"  style="width: 100%; height: 100%;" loop controls autoplay></lottie-player>
							</div>
							<div class="col-12 col-lg-6 d-flex align-items-center text-justify justify-content-center text-uppercase">
								<p>
										Pick up your fresh ingredients. A shopping list of those <br /> ingredients is emailed to you in advance.
									
								</p>	
							</div>
					</div>
					
			</div>
	  </section>
	  <!--===Main Context Section End===-->
	  
	  
	  <!--===Country Section Start===-->
	  <section id="country">
				<div class="container-fluid">
						<div class="row pt-5 ">
								<div class="col-12 col-lg ml-0 ml-lg-5 pt-5 mt-5">
										<h2 class="text-uppercase">What country do you want to cook with?</h2>
										<p class="mt-4">Make sure to select your own timezone and country. <br />
											our chef lives all over the world.
										</p>
								</div>
								<div class="col-12 col-lg">
										<lottie-player src="https://assets9.lottiefiles.com/packages/lf20_pHl01w.json" background="transparent"  speed="1"  style="width: 100%; height: 100%;" loop controls autoplay></lottie-player>
								</div>
						</div>
						<div class="row py-5">
								
								<div class="col-12 col-lg ">
										<lottie-player src="https://assets10.lottiefiles.com/packages/lf20_9qqzSo.json" background="transparent"  speed="1"  style="width: 100%; height: 100%;" loop controls autoplay></lottie-player>
								</div>
								<div class="col-12 col-lg ml-0 ml-lg-5 pt-5 mt-5">
										<h2 class="text-uppercase">You can also create battles</h2>
										<p class="mt-4"> You can create battles and compete with other chef as a single or by <br /> creating a team. It will help you to skill up your cooking.
										</p>
								</div>
						</div>
						
				</div>
	  </section>
	  <!--===Country Section End===-->
	  
	  <!--===Pricing Section Start===-->
	  <section id="pricing">
			  <div class="container-fluid">
					<div class="row py-5">
							<div class="col">
									<h2 class="text-center text-uppercase">
										Pricing
									</h2>
							</div>
					</div>
					<div class="row mb-5">
							
							<div class="col-12 col-lg-4 mb-4 mb-lg-0 d-flex  justify-content-center justify-content-lg-end">
									<div class="card text-center  " style="width: 18rem;">
									  <div class="card-body">
										<h5 class="card-title text-dark mb-3">BASIC</h5>
										<h5 class="mb-2 text-light">10$</h5>
										<h5 class="mb-4 text-light">PRE ADULT COOK</h5>
										<p class="card-text text-light mb-5 pb-5">Cook at 1 cooks-off <br /> within 1 Year from Sign-up</p>
										<a class="nav-link btn btn-outline-secondary ml-3 signup mb-5" href="#">Sign Up <span class="sr-only">(current)</span></a>
									</div>
							</div>
							</div>
							<div class="col-12 col-lg-4 mb-4 mb-lg-0 d-flex  justify-content-center ">
									<div class="card text-center  " style="width: 18rem;">
									  <div class="card-body">
										<h5 class="card-title text-dark mb-3">BASIC</h5>
										<h5 class="mb-2 text-light">10$</h5>
										<h5 class="mb-4 text-light">PRE ADULT COOK</h5>
										<p class="card-text text-light mb-5 pb-5">Cook at 1 cooks-off <br /> within 1 Year from Sign-up</p>
										<a class="nav-link btn btn-outline-secondary ml-3 signup mb-5" href="#">Sign Up <span class="sr-only">(current)</span></a>
									</div>
							</div>
							</div>
							<div class="col-12 col-lg-4 d-flex  justify-content-center justify-content-lg-start">
									<div class="card text-center " style="width: 18rem;">
									  <div class="card-body">
										<h5 class="card-title text-dark mb-3">BASIC</h5>
										<h5 class="mb-2 text-light">10$</h5>
										<h5 class="mb-4 text-light">PRE ADULT COOK</h5>
										<p class="card-text text-light mb-5 pb-5">Cook at 1 cooks-off <br /> within 1 Year from Sign-up</p>
										<a class="nav-link btn btn-outline-secondary ml-3 signup mb-5" href="#">Sign Up <span class="sr-only">(current)</span></a>
									</div>
							</div>
							</div>
					</div>
			  </div>
	  </section>
	  <!--===Pricing Section End===-->
	  
	  <!--===Assistant Section Start===-->
	  <section id="assistant">
			<div class="container-fluid">
					<div class="row ml-0 ml-lg-5">
							<div class="col-12 col-lg-6">
									<h2 class="text-bold text-center mt-5 py-5 ml-0 ml-lg-5">OUR VIRTUAL KITCHEN ASSISTANT <br /> WILL HELP YOU PREB</h2>
									<p class="mb-5">
											We'll send you a notification if you have our app or you <br /> the link to your class. <br /> <br />
											When you check in for your cooking lesson, your Virtual Kitchen <br />
											Assistant will video call you through the platform.Then you'll get <br /> cooking together.
									</p>
									<a href="#" class="mb-5 pb-5"><img src="../static/img/appstore.jpg" class="appstore" alt="appstore" /></a>
							</div>
							<div class="col-12 col-lg-6">
										<lottie-player src="https://assets5.lottiefiles.com/packages/lf20_n8GX5U.json" background="transparent"  speed="1"  style="width: 100%; height: 100%;" loop controls autoplay></lottie-player>
							</div>
					</div>
			</div>
	  </section>
	  <!--===Assistant Section End===-->
	  
	  <!--===Signup Section Start===-->
		<section id="signup">
			 <div class="container-fluid">
						<div class="row pt-5 pb-3 text-center">
								<div class="col">
										<p>
												Enjoy your class - and unforgettable meat for two afterward. <br />
												
												Your chef will lead you through your recipes , cooking right alongside you.
										</p>
										<a class="nav-link btn btn-outline-secondary ml-3 signup " href="#">Sign Up <span class="sr-only">(current)</span></a>
								</div>
						</div>
			  </div>
	  </section>
	  <!--===Signup Section End===-->
	 
	 <!--===Footer Section Start===-->
			<footer id="footer">
					<div class="container-fluid">
							<div class="row">
									<div class="col-12 col-lg text-center">
											<img src="../static/img/logo.png" class="footer-logo " alt="footer-logo" />
											<p class='ml-0 ml-lg-5  text-light'>Learn new recipes and kitchen <br /> skill to up your cooking game.</p>
									</div>

									<div class="col-12 col-lg ml-0 ml-lg-5 pl-0 pl-lg-5 text-center">
										<ul class="mt-5">
											<li><a href="#">Pages</a></li>
											<li><a href="#">Sign up</a></li>
											<li><a href="#">Login</a></li>
											<li><a href="#">About Us</a></li>
											<li><a href="#">Contact Us</a></li>
										</ul>
									</div>
									<div class="col-12 col-lg mt-5 ml-0 ml-lg-5 pl-0 pl-lg-5  text-center">
											<p class="text-light">Social Link</p>
											<div class="social-icon">
												<a href="#"><i class="fab fa-facebook-f"></i></a>
												<a href="#"><i class="fab fa-twitter"></i></a>
												<a href="#"><i class="fab fa-instagram"></i></a>
											</div>

											<a href="#"><img src="../static/img/white-appstore.png" class="white-appstore mt-3" alt="white-appstore" /></a>
											
											
									</div>
							</div>
					</div>
			</footer>
	 <!--===Footer Section End===-->
	  
	
		

	<!-- JS here -->
	   <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	   <script src="../static/js/owl.carousel.min.js"></script>
        <script src="../static/js/popper.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
		
    </body>
</html>
